/* Responsive Breakpoint */
/* Ukuran Dekstop */
@media screen and (min-width: 1024px) {
  /* Awal Navbar */
  nav ul {
    justify-content: space-between;
    display: flex;
    width: 50%;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    box-shadow: 0 0 2px 0 #ffca6c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    backdrop-filter: blur(1em);
  }
  /* Akhir Navbar */
  /* Awal Home */
  #home {
    display: flex;
    padding: 90px 100px 0 100px;
    height: 900px;
  }
  .image {
    display: flex;
    align-items: end;
    height: 100%;
  }
  .medsos {
    gap: 2em;
    margin-bottom: 3em;
    flex-direction: column;
    align-items: center;
  }
  .garis-vertikal {
    height: 8em;
    margin-bottom: 2em;
  }
  h2 {
    font-size: 2.8rem;
  }
  .welcome {
    font-size: 1.5em;
    height: 2em;
    width: 8em;
  }
  .profesi {
    font-size: 1.5em;
    margin: 0;
  }
  .contact {
    border-width: 0.1em;
    width: 8em;
    height: 2em;
    border-radius: 0.3em;
    font-size: 1.9em;
    margin-top: 1.9em;
  }
  /* Akhir Home */
  /* Awal About */
  #about {
    height: 15em;
    padding: 0 100px 0 100px;
  }
  .flex {
    display: flex;
    margin-top: 18px;
  }
  .garis-horizontal {
    background: #ffca6c;
    height: 0.2em;
    width: 10em;
    margin-top: 0.3em;
  }
  /* Akhir About */
  /* Awal Experience */
  #experience {
    padding: 5em 100px 32px 100px;
  }
  .experience-flex {
    display: flex;
    gap: 35px;
    margin-top: 32px;
  }
  .simbol {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
  }
  .cyrcle {
    background: #ffca6c;
    width: 25px;
    height: 25px;
    border-radius: 100%;
  }
  /* Akhir Experience */
  /* Awal Education */
  #education {
    height: 25em;
    background: #34353a;
    padding: 0 100px 0 100px;
  }
  .education-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 32px;
  }
  .univ #line {
    display: none;
  }
  /* Akhir Education */
  /* Awal Skills */
  #skills {
    height: 800px;
    padding: 10px 100px 0 100px;
  }
  .kotak-logo {
    background: #3d3e42;
    width: 267px;
    height: 267px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-skills {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    margin-top: 32px;
  }
  /* Akhir Skills */
  /* Awal Interest */
  #interest {
    height: 500px;
    padding: 40px 100px 0 100px;
  }
  .card-interest {
    border-radius: 25px;
    margin-top: 32px;
    height: 311px;
  }
  .content-interest {
    width: 1108px;
  }
  /* Akhir Interest */
  /* Awal Award */
  #award {
    padding: 40px 100px 0 100px;
    height: 600px;
  }
  /* Akhir Award */
  /* Awal Portfolio */
  .container-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  #portfolio {
    height: auto;
    padding: 40px 100px 0 100px;
  }
  .card-portfolio {
    width: 390px;
    height: 522px;
  }
  .card-portfolio2 {
    width: 600px;
    height: 290px;
  }
  .content-portfolio {
    width: 250px;
  }
  .content-portfolio2 {
    width: 377px;
  }
  .see-more {
    width: 150px;
    height: 46px;
    border-radius: 5px;
  }
  .view-more {
    width: 250px;
    height: 46px;
    border-radius: 5px;
  }
  .button-view {
    margin: 32px 0 32px 0;
  }
  /* Akhir Portfolio */
  /* Awal Contact */
  #contact {
    display: flex;
  }
  /* Akhir Contact */
  /* Awal Footer */
  #footer {
    display: flex;
  }
  /* Akhir Footer */
}
