h2 {
  margin: 0;
  padding: 0;
}

h2 a {
  font-size: 30px;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 35px;
}

body,
html,
section {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
  color: white;
  background: #34353a;
  /* overflow: auto; */
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
}

/* Hamburger Menu */
.menu-toggle {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  display: none;
}
.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -9.9px;
  top: -3.2px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
  z-index: 10;
}

/* Awal Navbar */
#nama {
  display: flex;
  justify-content: center;
  align-items: center;
}
#nama a {
  font-size: 32px;
  color: #ffca6c;
  letter-spacing: 03px;
}
nav ul a:hover {
  color: #ffca6c;
}
.list-menu {
  padding: 15px 0 15px 0;
}
.list-menu :hover {
  animation: normal;
  border-bottom-style: solid;
  border-bottom-color: #ffca6c;
}
/* Akhir Navbar */

/* Awal Home */
#home {
  background: #34353a;
  border-bottom-style: solid;
  border-bottom-color: #ffca6c;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.welcome {
  background: #ffca6c;
  color: #34353a;

  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.contact {
  background: transparent;
  border: solid;
  border-color: #ffca6c;
}

button.contact a {
  color: #ffca6c;
}

.contact:hover {
  background: #ffca6c;
}

.medsos {
  margin: 0;
  padding: 0;
  display: flex;
}
.medsos li {
  text-align: center;
}
.garis-vertikal {
  background: #ffca6c;
  width: 0.1em;
}
/* Akhir Home */

/* Awal About */
#about {
  display: flex;
  align-items: center;
}
.flex {
  align-items: start;
  gap: 22px;
}
.about-desc {
  padding: 0;
  margin: 0;
  font-size: 1em;
}
/* Akhir About */

/* Awal Experience */
#experience {
  background: #3d3e42;
}
.kotak {
  width: 80px;
  height: 40px;
  background: #5d5e61;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-vertikal {
  background: #cdcdcd;
  width: 5px;
  height: 80%;
}

.organisasi {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}
.description {
  font-size: 20px;
  margin-top: 16px;
}
/* Akhir Experience */

/* Awal Education */
#education {
  background: #34353a;
  display: flex;
  align-items: center;
}

.simbol-1 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 12px;
}

.line {
  height: 5px;
  border-bottom-style: dashed;
  border-bottom-color: #cdcdcd;
  margin-bottom: 2px;
  width: 80%;
}
.education-content {
  width: 100%;
}
/* Akhir Education */

/* Awal Skills */
#skills {
  background: #34353a;
  display: flex;
  align-items: center;
}

.title-skills {
  text-align: center;
}

div .kotak-logo:hover {
  background: #ffca6c;
  color: #34353a;
  font-weight: bold;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Akhir Skills */

/* Awal Interest */
#interest {
  background: #34353a;
  display: flex;
  align-items: center;
}
.w-full {
  width: 100%;
}
.card-interest {
  background: #3d3e42;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interest-simbol {
  font-size: 64px;
  margin: 0;
  padding: 0;
}

.button-more {
  height: 46px;
  width: 200px;
  background: #ffca6c;
  border-radius: 5px;
  border: none;
}
.button-more:hover {
  background: #5d5e61;
}
.end {
  display: flex;
  justify-content: end;
  align-items: center;
}
/* Akhir Interest */
/* Awal Award */
#award {
  background: #34353a;
  display: flex;
  align-items: center;
}
.card-award {
  background: #3d3e42;
  width: 400px;
  height: 400px;
  border-radius: 25px;
  margin-top: 32px;
}
.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
img.piala {
  opacity: 0.5;
}
/* Akhir Award */

/* Awal Portfolio */
#portfolio {
  background: #34353a;
  display: flex;
  align-items: center;
}

.title-portfolio {
  text-align: center;
}

.container-portfolio {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.container-portfolio2 {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.card-portfolio {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-portfolio:hover {
  transform: scale(1.1);
  z-index: 0;
  position: relative;
  transition: all;
  border-radius: 10px;
}
.card-portfolio2 {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-portfolio2:hover {
  transform: scale(1.1);
  z-index: 0;
  position: relative;
  transition: all;
  border-radius: 10px;
}

.achsmovie {
  background-image: url(/assets/achsmovie.png);
}
.pokemon {
  background-image: url(/assets/pokemon.png);
}
.achsnews {
  background-image: url(/assets/achsnews.png);
}

.ecommerce {
  background-image: url(/assets/ecomerce.png);
}

.airbnb {
  background-image: url(/assets/airbnb.png);
}

.content-portfolio {
  text-align: center;
}
.content-portfolio2 {
  text-align: center;
}
.see-more {
  background: #ffca6c;
  border: none;
  cursor: pointer;
}

.see-more:hover {
  background: #cdcdcd;
  color: #34353a;
  font-weight: bold;
}

.view-more {
  background: #ffca6c;
  border: none;
  border-radius: 5px;
}

.view-more:hover {
  background: #cdcdcd;
  font-weight: bold;
}

.button-view {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-portfolio {
  display: flex;
}
/* Akhir Portfolio */
/* Awal Contact */
#contact {
  height: 264px;
  background: #3d3e42;
  padding: 0 100px 0 100px;
  border-top-style: solid;
  border-top-color: #ffca6c;
  border-bottom-style: solid;
  border-bottom-color: #ffca6c;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
}

.title-contact {
  text-align: center;
}

.kotak-contact {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #34353a;
  width: fit-content;
  height: 46px;
  padding: 0 10px 0 10px;
  color: #ffca6c;
}
.bungkus {
  display: flex;
  gap: 22px;
  width: 100%;
  justify-content: center;
  color: #ffca6c;
  margin-top: 32px;
}
.kotak-akhir {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  width: 100%;
}
.medsos2 {
  display: flex;
  align-items: center;
  gap: 22px;
  justify-content: center;
}
/* Akhir Contact */

/* Awal Footer */
#footer {
  background: #34353a;
  height: 208px;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
}
.thanks {
  color: #ffca6c;
  font-size: 32px;
  text-align: center;
}
.footer {
  background: #ffca6c;
  height: 30px;
  display: flex;
  /* display: none; */
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
}
/* Akhir Foter */
