h2 {
  margin: 0;
  padding: 0;
  font-size: 45px;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 35px;
}

body,
html,
section {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
  color: white;
  background: #34353a;
  overflow: auto;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
}

/* For Dekstop View */
@media screen and (min-width: 1024px) {
  body {
    background: #34353a;
  }
}

/* Awal Navbar */
.navbar {
  height: 80px;
  background: #34353a;
  padding: 0px 100px 0 100px;
  display: flex;
  align-items: center;
  /* border-bottom-style: solid;
  border-bottom-color: #ffca6c; */
  box-shadow: 0 0 2px 0 #ffca6c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar-in {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#nama a {
  font-size: 32px;
  color: #ffca6c;
}

.menu {
  display: flex;
  font-size: 16px;
  gap: 35px;
}

.list-menu {
  padding: 15px 0 15px 0;
}

.list-menu :hover {
  animation: normal;
  border-bottom-style: solid;
  border-bottom-color: #ffca6c;
}
/* Akhir Navbar */

/* Awal Home */
#home {
  padding: 90px 100px 0 100px;
  height: 900px;
  background: #34353a;
  border-bottom-style: solid;
  border-bottom-color: #ffca6c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  background: #ffca6c;
  color: #34353a;
  font-size: 32px;
  height: 46px;
  width: 250px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.profesi {
  font-size: 20px;
  margin: 0;
}

.contact {
  background: transparent;
  border: solid;
  border-color: #ffca6c;
  color: #ffca6c;
  border-width: 4px;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  font-size: 32px;
  margin-top: 32px;
}

.image {
  display: flex;
  align-items: end;
  height: 100%;
}
.medsos {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  margin-bottom: 32px;
}
.garis-vertikal {
  background: #ffca6c;
  width: 5px;
  height: 150px;
  margin-bottom: 20px;
}
/* Akhir Home */

/* Awal About */
#about {
  height: 363px;
  padding: 0 100px 0 100px;
  display: flex;
  align-items: center;
}
.garis-horizontal {
  background: #ffca6c;
  height: 5px;
  width: 100px;
  margin-top: 5px;
}

.flex {
  display: flex;
  align-items: start;
  gap: 22px;
  margin-top: 18px;
}

.about-desc {
  padding: 0;
  margin: 0;
  font-size: 20px;
}
/* Akhir About */

/* Awal Experience */
#experience {
  background: #3d3e42;
  padding: 92px 100px 32px 100px;
}

.experience-flex {
  display: flex;
  gap: 35px;
  margin-top: 32px;
}

.kotak {
  width: 80px;
  height: 40px;
  background: #5d5e61;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cyrcle {
  background: #ffca6c;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
.line-vertikal {
  background: #cdcdcd;
  width: 5px;
  height: 80%;
}

.simbol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: auto;
}
.organisasi {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}
.description {
  font-size: 20px;
  margin-top: 16px;
}
/* Akhir Experience */

/* Awal Education */
#education {
  height: 400px;
  background: #34353a;
  padding: 0 100px 0 100px;
  display: flex;
  align-items: center;
}
.education-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 32px;
}
.simbol-1 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 12px;
}

.line {
  height: 5px;
  border-bottom-style: dashed;
  border-bottom-color: #cdcdcd;
  width: 80%;
  margin-bottom: 2px;
}
.education-content {
  width: 100%;
}
/* Akhir Education */
